html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
body{
  background-color: #d2b48c;
  margin-left: 20%;
  margin-right: 20%;
  border: 2px dotted black;
  font-family: san-serif;
}
h1{
  color: white;
}
h2{
  color: green;
}
